[2014-02-18 18:49] aslansky opened #1 "Invalid output sprite less"
Issue from @zajca. Description see: aslansky/gulp-sprite#3

[2014-02-19 08:53] #1 closed, assigned to aslansky

[2014-02-20 13:40] yairEO opened #2 "failed to install via npm"
What did I do wrong?

[code]

[2014-02-20 16:14] #2 closed, assigned to nobody

[2014-02-26 14:12] mariuskubilius opened #3 "Retina"
Would be nice if there was possibility to create @2 retina sprites. :+1:

[2014-03-06 12:55] rla opened #4 "-st argument causes error while --style does not"
Works well:

[code]

gives error:

[code]

Error:

[code]

Tried to figure out cause but could not.

[2014-03-07 18:36] #4 closed, assigned to nobody

[2014-03-09 00:23] #3 closed, assigned to aslansky

[2014-03-10 18:46] reyramos opened #5 "prefix"
Tried numerous ways to change the prefix:'icon' to a custom one in gruntfile
css_sprite:
            options:
                processor:'css'
                prefix:'base64'
            sprite:
                src: ["<%= yeoman.app %>/img/base64/_"]
                dest: ".tmp/img/sprite.png"
            base64:
                options:
                    base64: true
                    prefix:'

[2014-03-11 08:37] #5 closed, assigned to nobody

[2014-03-12 03:05] AlistairB opened #6 "Only producing mixin but not classes that can be used"
Should sprite.scss contain classes that point to each image in the sprite? I'd like to just use the classes in some cases in the HTML without having to use the mixin that is generated.

[code]

sprite.scss

[code]

[2014-03-13 02:07] #6 closed, assigned to nobody

[2014-03-30 13:38] Janpot opened #7 "Fails on large number of images"
I'm trying to build a sprite out of about 500 16x16 png icons. gulp just ends without finishing the task. It starts working when I reduce the number of icons.

[2014-04-17 12:59] #7 closed, assigned to nobody

[2014-04-20 18:34] evilbloodydemon opened #8 "On Windows invalid css path is generated"
css-sprite uses path.join to make css path, and on windows path.join uses backslash so result is invalid, something like:
 background-image: url('\img\sprite.png');

[2014-04-23 03:27] AlistairB opened #9 "gulp example is erroneous"
Hi,

The gulp example

[code]

is problematic. I don't claim to fully understand what was happening, but this is my take on the issues it was causing.
1. The first gulp.dest is called which copies the sprite into /dist/img. This also signals that the task has completed.
2. My sass task runs and starts converting the sass to css.
3. The second gulp.dest fires and copies into /dist/scss.

Not sure e

[2014-04-27 00:45] #9 closed, assigned to nobody

[2014-06-13 04:40] bguiz opened #10 "[request] create a broccoli task"
css-sprite already has gulp and grunt tasks - could you please create a task for [broccoli](https://github.com/broccolijs/broccoli) too?

[2014-06-14 04:40] andrewmartin opened #11 "Generate css classes?"
Any way to have this task automatically create the sprite specific css classes too? I have a ton of sprites and it'd be super helpful.

[2014-07-09 18:02] hisnameisjimmy opened #13 "Allow binary-tree packing as an option"
This is a formal request for binary-tree packing. Right now this plugin only generates vertical and horizontally packed sprites, which when generating retina images can run into issues with overall texture size. If the sprite map is too large, iOS will either downscale or not render the sprites.

However, with binary tree packing, you could allow the sprites to take up the smallest overall area. [

[2014-08-06 07:38] dariuszp opened #15 "[feature] Optional width/height?"
Hi,
it would be very useful to have **optional** width/height for sprites on top of position. Most of the time I really don't need it but often when I work with icons and stuff like that I always need to add size of the icon. And I have at least 3 different sizes.

So it would be nice if css-sprite could add that on demand.

[2014-08-17 10:23] #13 closed, assigned to nobody

[2014-08-17 10:36] #11 closed, assigned to nobody

[2014-08-18 06:45] hisnameisjimmy opened #17 "Issues with layout css in most recent version"
I've tried this on two computers with fresh installs of the new version 0.8.0-beta1, and the css that is being produced for vertical/horizontal/binary-tree orientations appears bad. It describes the wrong filenames at the wrong sizes at the wrong position.

For instance, I'm getting this for a checkmark image:

[code]

This image is actually 40px by 40px at 2x size, and should be being described i

[2014-08-18 07:48] #17 closed, assigned to nobody

[2014-09-15 05:21] alexchantastic opened #18 "Output as JPG sprite"
Is there a specific parameter (with Gulp) to output as a `.jpg`? It seems that setting the `name` as something like `name: sprite.jpg` will output a file called `sprite.jpg`, but  the file is still encoded as a `.png`.

I'm currently using https://www.npmjs.org/package/gulp-gm to convert the output as a true `.jpg`, but was wondering if there was a way to do it without that extra step.

[2014-09-28 10:36] hassankhan opened #20 "Fails when given too many PNGs?"
I'm trying to use this with my project [emojify.js](https://github.com/hassankhan/emojify.js) and I need to pass it a large number of PNGs to output to base64-encoded images.

My task:

[code]

My output log:
[code]

[2014-10-02 09:53] intellix opened #21 "[feature] multiple sprites (one per folder for instance)"
Just come from compass where I have a folder/sprite structure like:

[code]

this creates 3 sprites: global, account and games.
- When you land on the site for the first time, you end up downloading global.png so you get images that are everywhere and on the homepage.
- When you go to the account section, you end up downloading account.png as well.

Currently, all sprites are downloaded at once, w

[2014-10-10 17:23] #8 closed, assigned to nobody

[2014-10-10 17:30] #18 closed, assigned to nobody

[2014-10-12 02:20] kmiyashiro opened #24 "Transparency is not preserved"
I'm trying to create a sprite of a few pngs that include transparency, but the generated sprite always has a white background. Does this plugin not support transparent pngs?

[2014-10-12 09:54] #24 closed, assigned to nobody

[2014-10-12 21:45] iboozyvoozy opened #25 "Can't change opacity (0.9.0-beta)"
Hi, nothing happens with opacity: 0/1. Every time get solid background (#FFF by default)

[2014-10-12 21:59] #25 closed, assigned to nobody

[2014-10-30 21:26] adam-lynch opened #26 "display: inline-block;"
Shouldn't this add or provide an option to add `display: inline-block;` to the sprites? I would assume that most people would be adding these to spans, etc.

[2014-10-30 21:26] adam-lynch opened #27 "Document the template option"
It doesn't say in the README that it's mustache you're looking for. Or what the params are.

[2014-10-30 21:32] adam-lynch opened #28 "Doesn't escape class names"
I had a file there called `+1.png` and `.prefix-+1` is generated.

[2014-11-01 17:27] ndcreativity opened #31 "npm install error"
Hi, when I do "npm install --save-dev css-sprite"

gyp ERR! node -v v0.10.33
gyp ERR! node-gyp -v v1.0.1
gyp ERR! not ok
npm ERR! lwip@0.0.5 install: `node-gyp rebuild`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the lwip@0.0.5 install script.
npm ERR! This is most likely a problem with the lwip package,
npm ERR! not with npm itself.
npm ERR! Tell the author that this fails on your system:

[2014-11-04 23:07] naorunaoru opened #32 "Incorrect generated file name"
I'm getting sprite.png.png instead of sprite.png. Didn't observe this behavior on older versions.

[2014-11-04 23:10] #32 closed, assigned to nobody

[2014-11-06 13:19] CREEATION opened #33 "[Request] Indentation Option for e.g. Sass"
Hello,

an "indentation" option would be cool, to keep code consistent.
Something like:

[code]

[2014-11-06 14:14] #31 closed, assigned to nobody

[2014-11-16 17:16] #28 closed, assigned to nobody

[2014-11-17 09:26] daviddelusenet opened #34 "Terminal says file is generated, but no file is generated."
Hi,

I'm trying to use css-sprite for my projects, but just can't make it work. It doesn't matter what paths I use, I get the same message every time:

Running "css_sprite:sprite" (css_sprite) task
File /images/sprite.png created.

But no file is generated. I'm really going crazy here! Even when I use non-existent paths for every option it still gives me this message.

Also, it isn't clear to me i

[2014-11-18 11:22] CREEATION opened #35 "[Request] Multiple Sprite-Classes (Pseudo Elements)"
Aloha,

I would like to give pseudo elements a sprite background, but there is only one class which you can define and it does only target the whole element.
Some sort of options like:

[code]

Where "sprite-b" and "sprite-a" are custom classes defined by the user.
So when I set it to "sprite-b", the generated Sass would look like this:

[code]

Do you plan to integrate _something like this_? (I k

[2014-11-18 11:34] #35 closed, assigned to nobody

[2014-11-19 21:49] #27 closed, assigned to nobody

[2014-11-19 22:10] #15 closed, assigned to nobody

[2014-11-20 15:18] elrrrrrrr opened #36 "can't install with node@0.11.12"
Here's the log .

[code]

[2014-11-20 20:57] #34 closed, assigned to nobody

[2014-11-22 12:11] #36 closed, assigned to nobody

[2014-11-22 20:32] tagir-yusupov opened #37 "@3x - Retina HD"
Support only @2x - Retina, plz add @3x - Retina HD

[2014-11-29 23:35] leslc opened #38 "Margin needs to be an even number (instead of odd number) for retina support"
Retina images in the sprite need to have even-number dimensions for the height and width so that the 50% reduction looks good.  The final retina sprite also needs to be an even-number height and width.  With the 5px default margin, some of the background images appear cut off by 1 pixel.

Can we make the default 4px instead and/or mention in the documentation?  If easier, I can send a pull request

[2014-12-30 10:39] maarekj opened #40 "Works from the cli but not in the code [undefined:0 TypeError: undefined is not a function]"
Hello,
At me, this library works in the cli but not in the code.
When I execute

    sprite.create({style: "sprite", processor: "less", out: process.getCwd(), src:["./src/image.png"], ...});

I obtain this error:

    undefined:0

    TypeError: undefined is not a function

An idea ?

[2014-12-30 20:39] telegraphinho opened #41 "Don't include extension for the spritesheet/retina name"
It prevents from using it in templates, as you can't strip `.png` from it due to mustache's logic-less nature.

I wanted to create a variable with the name of the template inside it, but couldn't, because it contains a dot and sass considers it invalid name.

So instead of `my_sprite.png` it should output just `my_sprite`

[2015-01-10 16:28] t3kkitz opened #42 "sprite@2x.png + sprite.png (generated with artefacts)"
Generated retina sprite option have defects with resize to base sprite. Also, can we just generate only retina sprite (200%) and set set sizes in '_sprite.scss' like 100% for every screen sizes?
![sprite-artefact](https://cloud.githubusercontent.com/assets/6743039/5692250/51ba7e8e-98fe-11e4-8dc8-b80ed60a88b1.png)

[2015-01-21 08:22] Avien commented on #21
Another issue with multiple tasks is, at least on scss version it generates a multiple '.icon' classes for each scss file, each with a different generated background image url so the last included overrides all previous ones
it should generate '.icon-{name-given-in-task}' instead

[2015-01-21 09:43] Avien commented on #21
I now see there is a 'prefix' options just for that

[2015-01-27 01:52] mitchmalone commented on #42
+1

[2015-01-28 21:26] cappslock opened #43 "Allow configuring SCSS mixin name"
It would be nice if you could configure the SCSS template (and others I guess) to use a provided mixin name. This is useful for avoiding conflicts.

I recognize that this is also doable with a custom template, but is there a clean way to integrate it as an option on the existing interface?

[2015-02-02 07:02] bguiz opened #44 "SCSS generated doesn't generate "concrete" sprite classes"
I could be wrong about this, but the SCSS that is output does not appear to include the actual class names for each of the generates sprites.

Using the follwing options (as part of a gulp stream):

    .pipe(
      cssSprite.stream({
        name: 'sprite',
        style: '_sprite.scss',
        processor: 'scss',
        cssPath: 'build/sprite/',
        // "generate both retina and standard spr

[2015-02-05 09:12] aslansky commented on #44
If you use css as the output format css-sprite will generate the classes for you. When using a pre-pocessor like scss it just generates the needed mixins.

[2015-02-05 09:23] aslansky commented on #44
Or you could also create your own template for generating scss. Have a look at the templates that come with css-sprite in lib/templates.

[2015-02-05 09:24] bguiz commented on #44
Yup, I am aware of that.

The thing is that I am not sure why that should be the case. Generally I
want to have sprite classes generated for every single sprite that is
inside the output image.

It is quite a simple addition to the basic template too, like I have done
here:
https://github.com/bguiz/node-angularity/blob/feature/sprites/tasks/sprites.scss.mustache#L51-L53

I know I can always create

[2015-02-05 09:38] aslansky commented on #44
Yeah ok. We have different opinions about that. I want to keep the generated styles as small as possible, but I can see why this would be helpful. I'll reopen the issue a a reminder for me. Right now I am just filled up with work stuff.

[2015-02-05 09:41] aslansky commented on #40
Can you post some more code? How do you require css-sprite in your code? The create function should be there. You're use it exactly the same like in the tests.

[2015-02-05 09:42] #38 closed

[2015-02-05 10:01] maarekj commented on #40
Sorry, I do not remember, I switched to something else.

[2015-02-05 10:03] aslansky commented on #40
ok

[2015-02-05 10:03] #40 closed

[2015-02-05 13:59] rseyferth opened #47 "Retina sprite positions in SCSS are incorrect"
In the latest version (0.9.1), I get the coordinates in my SCSS file based on the retina size, instead of the regular size of the images, with the following gulp config:

[code]

Instead of the correct coordinates:

[code]

I get

[code]

Am I doing something wrong, or should all the coordinates be divided by 2 when the retain option is on?

[2015-02-05 17:11] cappslock commented on #47
I see this exact behavior. I downgraded to 0.9.0 and it worked. Curious to know the source of the problem and a better solution.

[2015-02-05 17:11] cappslock commented on #47
In my case I'm using a custom template with minor modifications to the CSS processor, FWIW.

[2015-02-05 17:20] aslansky commented on #47
Mh strange. The test seem to be fine and actually the code for calculating the positions didn't change. I'll look into it.

[2015-02-05 17:20] cappslock commented on #47
Yeah I'm not sure... I'm not doing anything too wacky but I'm happy to provide my gulp task config and previous/post output if it's helpful.

[2015-02-05 17:42] #47 closed

[2015-02-05 17:45] aslansky commented on #47
This was a nice one. Due to the update of lodash to the new 3 version something like lodash(somearray).each() doesn't work anymore. Unfortunately that failed without any error :(

[2015-02-05 17:47] aslansky commented on #47
Fixed in 0.9.2

[2015-02-05 20:44] message commented on #47
Does npm need time to update? `npm ERR! version not found: css-sprite@0.9.2`

[2015-02-05 20:48] aslansky commented on #47
I am not sure what's going on. npm info tells me:

versions:
   [ '0.4.0',
     '0.5.0',
...
     '0.9.0-beta2',
     '0.9.0',
     '0.9.1' ],
  time:
   { modified: '2015-02-05T17:58:49.101Z',
     created: '2014-02-09T01:05:34.326Z',
     '0.4.0': '2014-02-09T01:05:34.326Z',
....
     '0.9.0': '2014-11-16T19:46:44.028Z',
     '0.9.1': '2015-02-05T09:20:29.862Z',
     '0.9.2': '2015-02-05T17:48:4

[2015-02-05 21:07] cappslock commented on #47
Looks unpublished to me, see output from http://registry.npmjs.org/css-sprite

[2015-02-05 21:10] aslansky commented on #47
Mh so I guess I have to publish 0.9.3. Because I can't do it with 0.9.2 anymore.

❯ npm publish
npm ERR! publish Failed PUT 403
npm ERR! Error: forbidden Attempting to modify version 0.9.2,
npm ERR! which was previously published on 2015-02-05T17:48:48.849Z.

[2015-02-05 21:18] aslansky commented on #47
The package is online http://registry.npmjs.org/css-sprite/-/css-sprite-0.9.2.tgz, so I guess it's just a caching issue. I will wait till the morning and if nothing happens I republish with a new version number.

[2015-02-05 21:23] cappslock commented on #47
Yeah, I've seen that before with npm. You can open an issue with them,
they're usually pretty responsive.

On Thu, Feb 5, 2015 at 3:18 PM, Alexander Slansky <notifications@github.com>
wrote:

[2015-02-05 21:32] aslansky commented on #47
Yeah, I opened an issue with them, because the module is also gone from my profile page on npmjs.com. Let's hope the problems gets resolved quickly.

[2015-02-06 13:30] message commented on #47
Any news?

[2015-02-06 18:55] aslansky commented on #47
I published 0.9.3 a few minutes ago and it's available. So your good to go.

[2015-02-08 07:06] farism commented on #42
Is this a bug with lwip?

[2015-02-10 16:16] Matrosskin commented on #20
It is still reproducible for me because there is to many src png - 882 images.

[2015-02-11 01:19] jedmao commented on #33
@CREEATION the problem is that if you already have an EditorConfig file you have to then RE-config the indentation in the case of this tool, which is counter-productive.

@aslansky has a good point. This is definitely a case in which you would want to adopt EditorConfig settings.

[2015-02-11 04:15] jedmao commented on #21
I agree with @intellix that multiple sprites should be created for each folder, just like [Compass](http://compass-style.org/help/tutorials/spriting/). I also think the naming convention should be like [BEM](http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/) to avoid naming collisions. Using the [nth function](http://sass-lang.com/documentation/Sass/Script/Functions.ht

[2015-02-11 09:34] aslansky commented on #42
Yeah it is probably a lwip issue. But I didn't have the time to look into it.

[2015-02-11 09:36] aslansky commented on #20
Ok I'll try to reproduce the issue.

[2015-02-11 09:38] Matrosskin commented on #20
I use images from https://github.com/frissdiegurke/emoji-parser-bower

[2015-02-12 02:30] talee opened #48 "Allow network-path reference "//domain.com" or "http://domain.com" for css-image-path option"
Currently the --css-image-path option only allows "../domain" or "/domain" paths.  For certain dynamics setups (A/B tests), being able to pass in a path with a separate domain name is needed.

E.g.:
HTML: domain.com
CSS: domain.com
IMGS: cdnDomain.com

Currently, passing in "http://cdnDomain.com" outputs to "http:/cdnDomain.com", which is incorrect and is interpreted by browsers as an absolute pat

[2015-02-12 08:02] mcometa opened #49 "gaze@0.6.4 error when installing"
**UPDATE**
Just for the record, gaze@0.6.4 does not support node v0.12.0 that's why I am having the errors below. I downgraded to v0.11 and the install went successful. Thanks!

---

Not sure what's happening here but while installing your NPM, I am having some install errors. Any idea? The log is below.
Node stuff:
[code]
Error log:
[code]

[2015-02-17 09:53] savaa commented on #49
Yep, I have the same issue. Use VisualStudio Express 2012 and VisualStudio Express 2013 (different machines).

[2015-02-17 10:01] mcometa commented on #49
If same error with gaze 0.6.4 then @savaa you have to downgrade to v0.11 nodejs. gaze0.6.4 does not support the new version of node yet.

[2015-02-17 10:01] #49 closed

[2015-02-26 12:23] itayco commented on #42
When using the 'grid' interpolation method this issue is resolved - at least with my transparent png's.
See associated pull request.

[2015-02-26 14:29] #42 closed

[2015-02-26 17:59] farism commented on #42
I don't think that this is the answer, on my particular spritesheet it looks even worse with grid. It's probably best to keep it as the default and wait for lwip to fix on their side. Or perhaps the interpolation function should be an configurable in css-sprite.

[2015-02-27 00:57] christophehurpeau commented on #49
Gaze only seems to be used in cli.js, do you think it could be possible to split this module to have one without gaze as a dependency ?

[2015-02-28 01:22] ricardomasao opened #51 "Error running "npm install css-sprite" with node 0.12.0"
When I run "npm install", I'm getting erros:

[code]

I'm running on Mac OSX Yosemite.

node version
0.12.0

[2015-03-02 00:06] NAlbuquerque commented on #42
This is definitely a lwip issue. I would agree with @farism and leave it as default (as it should not have artifacts in that mode) and provide a config to set the interpolation method until it's fixed.

Further discussion on the lwip issue here: https://github.com/EyalAr/lwip/issues/109

[2015-03-02 02:31] Moinax commented on #51
+1

[2015-03-02 06:59] computersarecool commented on #51
+1

[2015-03-02 11:41] CREEATION commented on #51
+1

[2015-03-02 19:01] alexkaraman85 commented on #51
@CREEATION - Also have this issue with node 0.10.2

[INFO] > lwip@0.0.6 install C:\Workspace\code\main\node_modules\css-sprite\node_modules\lwip
[INFO] > node-gyp rebuild
[INFO]
[INFO]
[INFO] C:\Workspace\code\main\node_modules\css-sprite\node_modules\lwip>node "C:\Workspace\code\main\node\npm\bin\node-gyp-bin\\..\..\node_modules\node-gyp\bin\node-gyp.js" rebuild
[INFO] npm ERR! Windows_NT 6.1.760

[2015-03-02 19:04] alexkaraman85 commented on #51
@aslansky

Is it possible to downgrade to ```gaze@0.5.x``` until @shama fixes this.

https://github.com/shama/gaze/issues/110#issuecomment-61302737

[2015-03-03 03:49] judewang commented on #51
@alexkaraman85

You can try using it with node `v0.10.31`, it worked for me, too.

[2015-03-04 01:53] ricardomasao commented on #51
Downgraded to v.0.10.31 and didn't  work

[2015-03-04 02:03] alexkaraman85 commented on #51
@ricardomasao - tried today as well and 0.10.31 did not change anything for me.  Still getting the same issue.

[2015-03-04 17:03] ventrebleu commented on #51
+1

[2015-03-04 21:40] cmnstmntmn commented on #51
+1

[2015-03-04 22:00] cmnstmntmn commented on #51
you may try an older release [v0.10.29](http://nodejs.org/dist/v0.10.29/) works for me

[2015-03-05 13:05] iboozyvoozy commented on #51
+1

[2015-03-05 15:11] ricardomasao commented on #51
Tryed v0.10.29 and worked!

Thanks @cmnstmntmn

[2015-03-05 15:14] denisborovikov commented on #51
Downgrade is not resolves a problem. Current version of node.js is 0.12.0 and css-sprite should works on it.

[2015-03-05 15:19] ricardomasao commented on #51
I closed the issue as this solves the errors reported initially. I think the right thing would be to open a new issue reporting the error in node v0.12.0. Would be clearer for everyone. @denisborovikov

[2015-03-05 15:23] denisborovikov commented on #51
@ricardomasao The reason why you've got this error was node.js v. 0.12.0 and probably Mac OSX Yosemite (as in my case) , so issue you've opened is what we need. You may just rename it to make more clear description.

[2015-03-05 16:41] gargantuan commented on #44
I just had to do something simmilar in a project I'm working on. I would suggest creating your own template and using something like this at the end of your template

[code]

[2015-03-05 16:58] alexkaraman85 commented on #51
I'm with @denisborovikov, downgrading to an older version of Node.js is not a fix to this issue, but a work around.

[2015-03-06 08:53] aslansky commented on #51
should be resolved with 0.9.6

[2015-03-06 08:53] #51 closed

[2015-03-06 10:58] Moinax commented on #51
It's working, thanks :)

[2015-03-07 19:34] mkoryak opened #53 "not compatible with node 0.12.0"
Your library uses lwip which might not be compatible with 0.12.0 - i opened an issue there:
https://github.com/EyalAr/lwip/issues/119

[2015-03-10 13:59] denisborovikov opened #54 "Remove a dot from {{class}} in mustache template"
It makes possible to create silent classes (or placeholder selectors in SASS) for preprocessors in custom templates, i.e. `%{{ class }} { ... }`.

Now this code generates `%.sprite-name { ... }`.

Expected `%sprite-name { .... }`.

[2015-03-11 14:57] #48 closed

[2015-03-12 17:21] gilbox opened #57 "version 0.9.8 breaks cssPath"
The background-image URL in the generated file is incorrect with this release.

`/assets/blah/sprite.png` is transformed to `/assets/sprite.png`

[2015-03-13 03:12] denisborovikov commented on #54
It's impossible now to get sprite identifier insider template. {{ sprite.name }} and {[ retna.name }} return the name of the sprite file with png extension, {{ class }} returns class with dot.

I'm trying to get sprite dimensions as SCSS variable, i.e. `${{ class }}: {{ px.total_width }} {{ px.total_height }}`.

[2015-03-13 15:37] vinniecent opened #58 "hover and active state"
Is there a way to add a state (:hover, .active) to the css class when a filename has a postfix of _hover or _active?

I.e. button1_hover.png -> .icon-button1:hover

[2015-03-16 18:18] envex commented on #57
I found that I had to add a trailing slash to my cssPath option.

    cssPath: "../img/"

[2015-03-16 18:57] douglasmiller commented on #57
The trailing slash inclusion is contrary to the documentation in the README:

[code]

The [index.js](https://github.com/aslansky/css-sprite/blob/master/index.js#L29) also indicates that the default cssPath is set to `../images':

[code]

[2015-03-18 04:14] zoubin commented on #54
I'm suffering from the same problem. `{{name}}` is suffixed with the image extension, and `{{class}}` is prefixed with a dot. It would be great helpful to customize the mustache template if a property with neither  the extension nor the prefixed dot is accessible

[2015-03-18 05:18] solome commented on #54
+1

[2015-03-18 08:23] denisborovikov commented on #54
Seems the same issue already opened #41

[2015-03-20 05:13] kairyou opened #60 "support generate several sprites"
Please add a option for generate several sprites, e.g., generate icons-header.png, icons-footer.png and _icons.scss, or icons-header.png + icons-header.scss and icons-footer.png + _icons-footer.scss.
[code]

[2015-03-23 14:54] mrpavlikov commented on #57
Had to add trailing slash aswell.

[2015-03-24 22:08] hisnameisjimmy commented on #42
I've tried rolling back lwip to previous versions, going back to 0.0.3, and the issue persists. I'm guessing lwip has always had this problem, and switching from node canvas to lwip introduced the issue to css-sprite.

I tried going back to css-sprite 0.8.0-beta2, which from commit history appears to be the one before the switch to lwip, but when running I hit these errors, and I can't find anythi

[2015-03-25 20:09] message commented on #57
Actually it's 0.9.7 breaks cssPath.

[2015-03-26 13:00] voldern opened #61 "Do not use @ in retina variables"
I'm using node-sass and sass-loader (webpack). It doesn't seem like node-sass supports @ in variable declarations:
``Module build failed: expected ':' after $arrow in assignment statement (2:1).``

I know this is strictly speaking a problem with node-sass, since the support for variables to contain any valid CSS identifier was added to the spec last year. https://github.com/sass/libsass/issues/553

[2015-03-26 13:20] voldern commented on #61
This was actually caused by a naming problem in one of our images, not in this library. Sorry about that.

[2015-03-26 13:20] #61 closed

[2015-03-26 22:39] hisnameisjimmy opened #62 "Switch back to canvas"
LWIP hasn't had a significant update in over three months and there's been no useful response to this issue: https://github.com/EyalAr/lwip/issues/109

And it is a major issue: When resizing to 1x for retina sprites, it creates ugly jaggies no matter what interpolation method is used.

This is when it was first brought up: https://github.com/aslansky/css-sprite/issues/42

This is a breaking issue,

[2015-03-30 21:21] hisnameisjimmy commented on #42
It took me a week to think of this, which may speak to some kind of terrible deficit on my part, but a very easy workaround is to take the generated @2x retina sprite and just manually resize it in something like Photoshop, then save it as the @1x sprite. I did this, and everything looks great. It's not ideal, but it's way better than any other alternative I could think of (keep in mind it took me

[2015-04-01 15:10] aslansky commented on #60
Seems to be a duplicate of #21

[2015-04-01 15:10] #60 closed

[2015-04-01 15:13] aslansky opened #63 "Remove grunt task to separate repository"
The grunt task should really be moved to a separate repository and npm module.

[2015-04-02 08:51] aslansky opened #64 "Move image processing engine to seperate repository"
Image engine should be moved to a separate repository and npm module. So we can build other engines then lwip.

[2015-04-08 21:55] sahibalejandro opened #65 "Sprite for :hover states?"
Is there an option or something to generate :hover states for the sprites?

for example, having `button.png` and `button-hover.png` generates css:
[code]

Compass sprite generator has this feature :(

[2015-04-12 05:50] alexkaraman85 commented on #65
You can use a [template](https://github.com/aslansky/css-sprite#using-your-own-template) to setup your own output.

[2015-04-13 05:06] sahibalejandro commented on #65
Mustache is "logic-less", this can't be done only using basic template tags, it needs an `if` with some RegExp validation to detect the `-hover` suffix on the image name and then generate the `:hover` styles.

Any ideas?

[2015-04-13 09:00] aslansky commented on #65
Hopefully you can wait a few more days. In css-sprite 1.0 handlebars is used to generate the style. This will give much more flexibility. So creating a hover style can be achieved more easily.

[2015-04-19 00:12] sahibalejandro commented on #65
Thank you, I'm tuned.

[2015-04-21 23:30] ghostcode commented on #65
i need this。

gulp.spritesmith do like this:

[code]

[2015-04-23 01:52] hisnameisjimmy opened #66 "cssPath struggles with special characters"
cssPath is also struggling with special characters like < and {. I am using those for templating in Django, and later using a replace for local development, but it doesn't work as the output is garbled.

For example, in my task I have:
    cssPath: '{{ STATIC_URL }}img/'

which outputs as:
    background-image: url('%7B%7B%20STATIC_URL%20%7D%7Dimg/sprite.png');

[2015-04-29 08:19] hllorens opened #68 "Responsive sprites (relative positions using percentages)"
Thanks for this nice tool.

It would be great if you extend it with an option to use relative positioning. Here is the bash code I use to post process your output (NOTE: this version is only for vertical sprites, but supporting horizontal ones should be straightforward):

[code]

Let me know if I can help.

Cheers.
Hector

[2015-05-01 17:46] mathflair commented on #54
${{#options}}{{cssClass}}{{/options}}-{{name}} gives the same result as {{class}} but without the name.

[2015-05-05 05:54] denisborovikov commented on #54
@mathflair It works. Thank you for workaround.

[2015-05-12 13:20] aslansky commented on #21
Multiple folders are now supported in [sprity](https://github.com/sprity/sprity) which is version 1.0 of css-sprite. You could give it a try if you still need the feature.

[2015-05-13 08:20] aslansky commented on #66
The problem should be fixed in [sprity v1.0.0](https://github.com/sprity/sprity)

[2015-05-13 08:20] aslansky commented on #64
Done in [sprity v1.0.0](https://github.com/sprity/sprity)

[2015-05-13 08:20] #64 closed

[2015-05-13 08:21] aslansky commented on #63
Done in [sprity v1.0.0](https://github.com/sprity/sprity)

[2015-05-13 08:21] #63 closed

[2015-05-13 08:21] aslansky commented on #62
With [sprity v1.0.0](https://github.com/sprity/sprity) you can choose between different image processing engine. Feel free to try it out :-)

[2015-05-13 08:21] #62 closed

[2015-05-13 08:22] aslansky commented on #57
Issue should be fixed in [sprity v1.0.0](https://github.com/sprity/sprity)

[2015-05-13 08:23] aslansky commented on #54
In [sprity v1.0.0](https://github.com/sprity/sprity) the . is no longer part of the classname.

[2015-05-13 08:24] aslansky commented on #53
With [sprity v1.0.0](https://github.com/sprity/sprity) you can switch between different image engines. By now [sprity-gm](https://github.com/sprity/sprity-gm) should be compatible with node 0.12 and io.js.

[2015-05-13 08:26] aslansky commented on #37
In [sprity v1.0.0](https://github.com/sprity/sprity) it is possible to generate multiple sprite with different resolutions. So please give it a try.

[2015-05-13 08:27] aslansky commented on #33
With [sprity 1.0.0](https://github.com/sprity/sprity) you can now configure the indentation style.

[2015-05-13 08:39] jednano commented on #33
Thanks @aslansky!

[2015-05-13 09:32] zoubin commented on #54
@aslansky Thanks for your work! I'll close https://github.com/aslansky/css-sprite/pull/59

[2015-05-13 11:24] aslansky commented on #10
in [sprity 1.0.0](https://www.npmjs.com/package/sprity) external task are moved to there own modules. so if someone wants to write a broccoli task feel free to do it.

[2015-05-13 11:24] #10 closed

[2015-05-13 11:37] aslansky commented on #68
Hey @hllorens could you please have a look at [sprity's](https://github.com/sprity/sprity) how to [write style processors](https://github.com/sprity/sprity/wiki/How-to-write-a-sprity-style-processor) and see if all values you would need to do that with a style processor are available? If so you could it is probably easier to write one for you then it was writing the bash script ;-)

[2015-05-13 11:40] aslansky commented on #65
css-sprite 1.0.0 is out ... it's called [sprity](https://github.com/sprity/sprity). it now uses handlebars as the template language. So more logic is possible whithin the templates. If this is not enough, have a look at [How to write a sprity style processor](https://github.com/sprity/sprity/wiki/How-to-write-a-sprity-style-processor). Let me know if you need more information ...

[2015-05-13 11:44] aslansky commented on #58
See #65

[2015-05-13 11:44] #58 closed

[2015-05-13 13:19] bguiz commented on #10
Thanks for the update - is sprity the successor to this module, css-sprite?

[2015-05-13 13:20] sahibalejandro commented on #65
Thanks, I will check it.
On May 13, 2015 6:40 AM, "Alexander Slansky" notifications@github.com
wrote:

[2015-05-13 13:21] aslansky commented on #10
Yes it is. There where so many changes and I never liked the name css-sprite. So it was the right time for renaming.

[2015-05-13 13:24] bguiz commented on #10
Any plans for sprity to support SVG sprites? I have had some requests to add that feature in one of my modules that wraps css-sprite, and it would be great if sprity was able to do this.

[2015-05-13 14:08] aslansky commented on #10
Currently I personally have no plans for doing that. But thats why I rewrote css-sprite to be as modular as possible. So maybe somebody else wants to write an image processor / style processor that can handle svg.

By the way, if you just want to have svg as an input graphic for your png/jpg sprites you could try [sprity-gm](https://www.npmjs.com/package/sprity-gm). As far as I remember GraphicsMa

[2015-05-15 08:59] intellix commented on #21
To add to this, my previous "solution" of looping through folders isn't stream friendly so you can't have it depended upon. Will try your sprity at some point

[2015-05-15 16:46] ghost opened #69 "Output SASS and sprite to different directories config issues"
Hi,

This is probably a configuration issue on my part but I am trying to generate a sprite and put in it my img dir and place the sass file in my sass dir.

I have tried a multitude of options but I cannot seem to get the correct set. Can you offer any guidance on how to use the lib?

I am using Grunt.

[2015-05-15 18:08] aslansky commented on #69
Could you give me the part of the grunfile you are using? Than I can have a look.

[2015-05-15 18:36] hllorens commented on #68
Hey @aslansky. The code is quite cryptic to me. What I want to modify is background position (as you can see above). Could you show me a very simple example for me to understand? e.g., imagine I want just add 1 to each Y value.

If I can understand how to do that, I will probably be able to do the rest.

This responsive alternative is quite useful (note that most websites are migrating to more res

[2015-05-19 11:42] ghost commented on #69
[code]

[2015-05-19 11:50] aslansky commented on #69
Thanks, I will look into it.

[2015-06-01 08:26] hllorens commented on #68
I have moved this to sprity. Closing...

[2015-06-01 08:26] #68 closed

[2015-06-03 11:49] lbineau opened #70 "Aliasing"
Hi,

I'm using css-sprite with retina (sprity seems to have big trouble with retina support and dimensions...)
The problem is, the non retina sprite is really pixelate.
Anyone has the same trouble ? (I tried on windows and mac)

Thanks.

[2015-06-07 13:35] #37 closed

[2015-06-07 13:35] #33 closed

[2015-06-07 13:36] #21 closed

[2015-06-07 13:36] #54 closed

[2015-06-07 13:37] #57 closed

[2015-06-07 13:37] aslansky commented on #53
lwip 0.0.7 was released and is now compatible with io.js. Please use sprity v1.0.4

[2015-06-07 13:37] #53 closed

[2015-06-07 13:38] #41 closed

[2015-06-07 13:42] aslansky commented on #70
You probably have the same problems like in #42. The dimensions stuff should be fixed in sprity 1.0.4. So please give it a try with another image engine.

[2015-06-07 13:42] #70 closed, assigned to nobody

[2015-06-07 13:46] aslansky commented on #20
Hey @Matrosskin I know its a long time but by now [sprity](https://github.com/sprity/sprity) is the successor of css-sprite. I tried sprity with a lot of icons (over 6000). And it worked pretty well. So if you still need that give it a try.

[2015-06-07 13:46] #20 closed

[2015-06-07 13:46] #66 closed

[2015-06-15 03:14] rayliao opened #71 "Under the Windows 7 installation is not successful"
![qq 20150615111210](https://cloud.githubusercontent.com/assets/5601068/8152461/bc388046-134f-11e5-9a30-50a1c05dcdb2.jpg)

[2015-08-14 00:58] littlee commented on #71
+1 我也是

[2015-08-14 01:00] littlee commented on #71
What's pre-required on Windows 7?

[2015-08-14 17:15] paulstatezny commented on #51
On 0.9.0 I was able to resolve this issue by rolling back Node to 0.10.29, per the comments above.

[2015-09-07 09:59] cstefan commented on #71
Same here W8.1

6457 info postuninstall css-sprite@0.9.9
6458 error lwip@0.0.6 install: `node-gyp rebuild`
6458 error Exit status 1
6459 error Failed at the lwip@0.0.6 install script.
6459 error This is most likely a problem with the lwip package,
6459 error not with npm itself.
6459 error Tell the author that this fails on your system:
6459 error     node-gyp rebuild
6459 error You can get their

[2015-09-23 09:53] ChristalYunSun opened #73 "Cannot install on node 4.1.0"

[2015-09-23 15:19] Congelli501 opened #74 "template don't accept absolute paths"
I went from css-sprite@0.9.8 to sprity@1.0.7, and with the new version absolute path to the mustache template don't work anymore.

If I use:
    {
        template: '/absolute/path/category.less.template'
    }

Then, sprity tries to find the template in `<process cwd>/absolute/path/category.less.template', and the build fails.

If the path begins with a "/", then the cwd should not be prepended t

[2015-09-26 08:41] justinyueh commented on #73
so do I get this error when update to Node 4.0

[2015-10-14 08:41] Avien commented on #73
Me too

[2015-12-13 23:26] kyrieru opened #76 "(request) Right click to lock all other layers"
Currently, left clicking or right clicking on the lock locks that layer.

I think it would be useful if right clicking on it locked all OTHER layers. Giving the user an easy way of choosing which layer to work on with one click. (as opposed to locking all layers, and then manually unlocking one of them)

[2015-12-30 03:48] wikieswan commented on #71
+1

[2016-01-22 21:53] trisys3 commented on #65
Did you ever succeed in doing this?

[2016-01-23 16:59] itorr opened #77 "1"

[2016-01-23 17:00] #77 closed, assigned to nobody

[2016-02-03 17:52] sahibalejandro commented on #65
Using sprite smith, yes.

[2016-03-08 05:36] zjhiphop commented on #51
Mac + NodeJS v5.3.0

+1

[2016-04-01 11:16] ghost commented on #73
It's the lwip, the dependency's version doesn't work with node >4.0... Possible solution:
1. Download css-sprite:
`git clone https://github.com/aslansky/css-sprite.git ~/dev/css-sprite`
2. Open package.json and change the **lwip** dependency version from 0.0.6 to **0.0.8**
3. within your project's folder:
`npm install ~/dev/css-sprite`

Voilà :dancer:

[2016-05-05 21:25] fracz commented on #71
+1

[2016-05-11 07:24] mocheng opened #78 "npm is named `sprity` but code in this README.md stills use `css-sprite`"
It looks confusing to have two different guides.

[2016-06-24 03:24] lyk248 opened #79 "hope can custom one's css class prefix style, rather than only use '-' to join it"

[2016-06-28 07:17] chux0519 opened #80 "the output img is too long..."
the output img  is too long... and bigger than the sum of these pics size
is it possible to shorter the output
and not to use the  top2end method
i want to make Full use of space

[2016-06-28 07:20] chux0519 commented on #80
orientation ..
fixed already ,good tools..

[2016-06-28 07:20] #80 closed, assigned to nobody

[2016-09-21 09:35] anyone-yuren opened #81 "If there were any node version restrictions"
![image](https://cloud.githubusercontent.com/assets/14817820/18705610/7b5d4dc8-8021-11e6-8ed4-6f0519c433e0.png)
i perform npm install css-sprite --save but can`t install

[2016-09-28 07:11] orta-sanz commented on #81
Looks like the npm package is now called **sprity** instead of css-sprite.

[2016-10-05 12:48] Bogdan808 commented on #71
+1

[2017-02-22 10:18] aboutqx commented on #73
@rokiCode not work with node6.9.5

[2017-03-10 22:17] torian257x opened #83 "error installing sprity-cli"
[code]

[2017-05-21 05:55] francisrod01 opened #84 "I cannot install css-sprite"
Hi, I try to install `css-sprite` to run with gulp but I cannot.

I use nodejs -v 7.0.10.

[code]

My gulp code:

[code]

Debug log is below:

[code]

[2018-11-23 09:49] mjcc007 opened #85 "can you generator the json description?"
can you generator the json description
example :
{
  "camera": {
    "height": 32,
    "pixelRatio": 1,
    "width": 32,
    "x": 0,
    "y": 0
  }
}

[2019-05-31 07:38] #71 closed, assigned to nobody